@import './utilitys';
@import './navbar';
@import './hero-section';
@import './showcase1';
@import './showcase2';
@import './showcase3';  
@import './showcase4'; 
@import './showcase5';
@import './showcase6';
@import './showcase7';
@import './showcase8';
@import './footer';

*{
    margin: 0px;
    padding: 0px;
}
body {
    background: black;
    font-family: "Roboto", Arial, Helvetica;
}
